{% extends 'shop/base.html' %}

{% block content %}
    <h1>Магазин Мягкой мебели</h1>
    <div class="cart-summary">
        <p>Общая стоимость корзины: <span class="product-price">{{ total_price }} ₽</span></p>
        <a href="{% url 'view_cart' %}" class="cart-link">Перейти в корзину</a>
    </div>

    <ul>
        {% for product in products %}
            <li>
                <span class="product-name">{{ product.name }}</span>
                <span class="product-price">{{ product.price }} ₽</span>
                <div class="product-actions">
                    <!-- Кнопка быстрой покупки -->
                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <button type="submit">Быстрая покупка</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}